.main {
  width: 100%;
}

.header {
  align-items: center;
  background: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  min-height: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.header a:hover {
  color: #005999;
}

.header a:focus {
  outline-color: #005999;
}

.header *::selection {
  background-color: #005999;
  color: #fff;
}

.header h1 {
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  min-height: 2.5rem;
}

/* for tablet ~ mobile */
@media (max-width: 768px) {
  .header {
    padding: 2rem 1rem;
  }
}

/* for mobile */
@media (max-width: 414px) {
  .header h1 {
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
    min-height: 1.6rem;
  }
}
