.main {
  width: 100%;
}

.header {
  align-items: center;
  background: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.header a:hover {
  color: #005999;
}

.header a:focus {
  outline-color: #005999;
}

.header *::selection {
  background-color: #005999;
  color: #fff;
}

.header h1 {
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  min-height: 2.5rem;
}

.arrowScroll {
  align-self: center;
  animation: scrollHint 1s normal ease-out infinite;
  padding: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

@keyframes scrollHint {
  0% {
    bottom: 4%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 4%;
  }
}

.arrowCircle {
  align-items: center;
  border: 2px solid #333;
  border-radius: 100%;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  margin: auto;
  width: 3.5rem;
}

.arrow {
  border: solid #333;
  border-width: 0 2px 2px 0;
  margin-bottom: 0.8rem;
  padding: 0.6rem;
  transform: rotate(45deg);
}

/* for tablet ~ mobile */
@media (max-width: 768px) {
  .header {
    height: 80vh;
    padding: 2rem 1rem;
  }

  .arrowScroll {
    padding: 0 0 1rem;
  }
}

/* for mobile */
@media (max-width: 414px) {
  .header h1 {
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
    min-height: 1.6rem;
  }
}
