.timelineList {
  margin: 5rem auto 0;
  max-width: 69rem;
  padding: 0 1rem;
  position: relative;
  width: 90%;
}

.timelineList::before {
  background: #005999;
  bottom: 0;
  content: '';
  left: 20%;
  margin-left: 3px;
  position: absolute;
  top: 0;
  width: 4px;
}

.timelineItem {
  position: relative;
}

.timelineItem a {
  color: #000;
  transition: 0.3s all;
}

.timelineItem a:hover {
  transition: 0.1s all;
}

.description {
  background: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0 0 4rem 25%;
  padding: 2rem;
  position: relative;
  transform: scale(1);
  transition: 0.3s all ease-in-out;
}

.description * {
  -webkit-font-smoothing: antialiased;
}

.description::before,
.description::after {
  border: solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
}

.description::after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  top: 10px;
}

.description::before {
  border-color: rgba(136, 136, 136, 0);
  border-right-color: #888;
  border-width: 11px;
  top: 9px;
}

.timelineItem a:hover > .description,
.timelineItem a:focus > .description {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  filter: drop-shadow(0 0 3px #005999);
  -webkit-font-smoothing: antialiased;
  transform: scale(1.22);
  transition: 0.1s all;
}

.timelineItem a:hover > .description::before,
.timelineItem a:hover > .description::after,
.timelineItem a:focus > .description::before,
.timelineItem a:focus > .description::after {
  display: none;
}

.timelineItem a:hover > .description h3,
.timelineItem a:focus > .description h3 {
  margin-left: 1rem;
}

.circle {
  align-items: center;
  background: #005999;
  border-radius: 50%;
  color: #fff;
  display: flex;
  -webkit-font-smoothing: antialiased;
  height: 56px;
  justify-content: center;
  left: 20%;
  margin: 0 0 0 -32px;
  position: absolute;
  text-align: center;
  top: -8px;
  width: 56px;
  z-index: 2;
}

.timelineItem a:hover .circle,
.timelineItem a:focus .circle {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.circle.PC::after {
  content: 'PC';
}

.circle.SP::after {
  content: 'SP';
}

.circle.PC.SP::after {
  content: 'PC\ASP';
  line-height: 1;
  white-space: pre;
}

.time {
  padding-right: 100px;
  position: absolute;
  width: 25%;
}

.timeHyphen {
  margin: 0 0.2rem 0;
}

.jobTitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 auto 1rem;
  padding: 0 0 10px 0;
}

.role {
  display: block;
  margin-bottom: 1.5rem;
}

.tagList {
  display: flex;
  flex-flow: row wrap;
}

.tagItem {
  background-color: #f1f8ff;
  border-radius: 5px;
  color: #0366d6;
  font-size: small;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
}

/* for tablet ~ mobile */
@media (max-width: 768px) {
  .timelineList {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }

  .timelineList::before {
    display: none;
  }

  .description {
    margin: 0 0 3rem 0;
    padding: 1em;
  }

  .timelineItem:last-of-type .description {
    margin-bottom: 1rem;
  }

  .description::before,
  .description::after {
    border: solid transparent;
    bottom: 100%;
    content: ' ';
    height: 0;
    left: 10%;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: inherit;
    width: 0;
  }

  .description::before {
    border-color: rgba(136, 136, 136, 0);
    border-bottom-color: #888;
    border-width: 11px;
    margin-left: -11px;
  }

  .description::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }

  .circle {
    float: right;
    left: auto;
    margin: -55px 5px 0 0;
    position: relative;
  }

  .time {
    padding: 0 0 20px 0;
    position: relative;
    width: 100%;
  }

  .jobTitle {
    margin-bottom: 0.5rem;
  }

  .tagItem {
    font-size: initial;
  }

  .timelineItem a > .description {
    transform: none;
    transition: none;
  }

  .timelineItem a:hover > .description,
  .timelineItem a:focus > .description {
    transform: none;
    filter: none;
    transition: none;
  }

  .timelineItem a:hover .circle,
  .timelineItem a:focus .circle {
    animation: none;
  }
}
