.profileImage {
  display: block;
  margin: 0 auto;
  max-width: 69rem;
  width: 90%;
}

.list {
  margin: 5rem auto 0;
  max-width: 69rem;
  padding: 0 1rem;
  width: 90%;
}

.listItem:first-child {
  margin-bottom: 4rem;
}

.description {
  margin: 5rem auto 0;
  max-width: 69rem;
  padding: 0 1rem;
  width: 90%;
}

.childListItem,
.childList,
.bioList {
  margin-left: 40px;
}

/* for tablet ~ mobile */
@media (max-width: 768px) {
  .profileImage {
    max-width: 100%;
    width: 100%;
  }

  .list {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }
}
