.wrapper {
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: animateBgColor;
  overflow-x: hidden;
}

.contents {
  background-color: #fff;
  padding: 3%;
  width: 100vw;
  height: 100vh;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: animateRight;
}

@keyframes animateBgColor {
  0% {
    background-color: #777;
  }

  100% {
    background-color: #fff;
  }
}


@keyframes animateRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
