.wrapper {
  width: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #999;
  z-index: 2;
  padding: 1rem 0 0.5rem 8rem;
}

.backButton {
  background: none;
  border: 0;
  color: #005999;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.5rem;
}

.backButton:hover {
  text-decoration: none;
}

.backButton svg {
  height: 1.75rem;
  fill: currentcolor;
}

.title {
  display: inline;
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
  line-height: 1;
  letter-spacing: 1.1px;
}

.contents {
  padding: 0 2rem 2rem;
  width: 100%;
  animation-duration: 0.8s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: animateFade;
  position: absolute;
  top: 4rem;
}

.contents section {
  margin: 0 6rem;
}

.contents h2 {
  letter-spacing: 1.2px;
}

.contents h3 {
  font-weight: normal;
}

.contents p {
  margin: 0;
  letter-spacing: 1.1px;
}

.time {
  display: block;
  margin-bottom: 1rem;
}

.description {
  line-height: 1.6;
}

.imgSection {
  margin-top: 4rem;
}

.figureItem {
  margin: 0 0 4rem 0;
}

.figureItem img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  vertical-align: bottom;
}

.tagList {
  display: flex;
  flex-flow: row wrap;
}

.tagItem {
  background-color: #f1f8ff;
  border-radius: 5px;
  color: #0366d6;
  font-size: small;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
}

/* for tablet ~ mobile */
@media (max-width: 768px) {
  .header {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .wrapper {
    overflow-x: hidden;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: animateBgColor;
  }

  .contents {
    padding: 0 1rem 2rem;
    height: inherit;
    animation-duration: 0.2s;
    animation-name: animateRight;
    position: inherit;
    top: 0;
    margin-top: 5rem;
  }

  .contents section {
    margin: 0;
  }
}

@keyframes animateBgColor {
  0% {
    background-color: #777;
  }

  100% {
    background-color: #fff;
  }
}

@keyframes animateFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
