.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  height: 100vh;
  background-color: #005999;
  color: #fff;
  width: 100%;
  padding: 2rem;
}

.header a:focus {
  outline-color: #fff;
}

.title {
  font-family: "Give You Glory", cursive;
}

.titleSvg {
  width: 100%;
}

.arrowScroll {
  position: absolute;
  bottom: 8%;
  align-self: center;
  width: 100%;
  padding: 2rem;
  text-align: center;
  animation: scrollHint 1s normal ease-out infinite;
}

@keyframes scrollHint {
  0% {
    bottom: 8%;
  }
  50% {
    bottom: 6%;
  }
  100% {
    bottom: 8%;
  }
}

.arrowWrapper {
  display: inline-block;
  border: solid #fff;
  border-width: 0 0.3rem 0.3rem 0;
  padding: 0.6rem;
  transform: rotate(45deg);
}

/* for tablet ~ mobile */
@media (max-width: 768px) {
  .header {
    height: 80vh;
  }

  .arrowScroll {
    padding: 0 0 1rem;
  }
}
