---
import Image from '../shims/next/image';
import Link from '../shims/next/link';
import { etcList } from '../../app/constants/etc-list';

const currentYear = new Date().getFullYear();
---

<ul class="flex flex-col justify-around mx-auto mt-8 mb-16 max-w-[69rem] px-8 w-full sm:mt-16 md:flex-row md:mb-24 md:w-[90%]">
  {etcList.map((item) => (
    <li>
      <Link
        className="text-[#005999] flex items-center gap-2 py-4 md:py-0"
        href={item.href}
        rel="noopener noreferrer"
        target="_blank"
      >
        <Image
          alt={''}
          height={26}
          src={`/img/etc/${item.className}.svg`}
          style={{
            width: '26px',
            height: '26px',
          }}
          width={26}
        />
        <span>{item.label}</span>
      </Link>
    </li>
  ))}
</ul>
<footer>
  <p class="text-center">
    © {currentYear} <Link
      className="text-[#005999]"
      href="https://hrfmmymt.github.io"
      rel="noopener noreferrer"
      target="_blank"
    >
      hirofumi miyamoto
    </Link>. All rights reserved.
  </p>
</footer>
