---
import Image from '../shims/next/image';
---

<Image
  priority
  alt="profile image"
  className="block mx-auto max-w-full w-full md:max-w-[69rem] md:w-[90%]"
  height={405}
  src="/img/profile/profile_l.jpg"
  style={{
    width: '100%',
    height: 'auto',
  }}
  width={720}
/>
<ul class="mt-8 mx-auto max-w-[69rem] p-0 w-full md:mt-20 md:px-4 md:w-[90%]">
  <li class="first:mb-16">
    <h3>### about</h3>
    <ul>
      <li class="ml-10">japanese web [ developer | designer ]</li>
    </ul>
  </li>
  <li class="first:mb-16">
    <h3>### bio</h3>
    <ul class="ml-10">
      <li>
        <h4>#### id</h4>
        <ul>
          <li class="ml-10">hrfmmymt</li>
        </ul>
      </li>
      <li>
        <h4>#### location</h4>
        <ul>
          <li class="ml-10">tokyo, jp</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
