.wrapper {
  width: 100%;
  height: 100%;
  background-color: #0e1e25;
  position: absolute;
  color: #fff;
  padding: 2rem;
}

.wrapper *::selection {
  background-color: #ff00d4;
  color: #fff;
}

.wrapper h2 {
  margin-top: 0;
}

.wrapper a {
  color: #0e1e25;
}

.wrapper a:hover {
  text-decoration: underline;
  text-decoration-color: #ff00d4;
}

.wrapper a.notLink {
  cursor: text;
  text-decoration: none;
}

.copy a {
  color: #fff;
}

/* for mobile */
@media (max-width: 414px) {
  .wrapper {
    padding: 1rem;
  }
}