.wrapper {
  width: 100%;
  color: #fff;
  padding: 2rem;
}

.wrapper *::selection {
  background-color: #ff00d4;
  color: #fff;
}

.title {
  margin-top: 0;
}

.link,
.notLink {
  color: #0e1e25;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #ff00d4;
}

.notLink {
  cursor: text;
  text-decoration: none;
}

.defList {
  margin: 2rem 0;
}

.defList dd {
  margin-left: 0;
}

.copy {
  margin-bottom: 0;
}

.copy a {
  color: #fff;
}
